# MCP Server Configuration
MCP_HOST=0.0.0.0
MCP_PORT=4000
MCP_TRANSPORT_PROTOCOL=http
# MCP_SSL_KEYFILE=/Users/tuhinsharma/ssl/ssl_key.pem
# MCP_SSL_CERTFILE=/Users/tuhinsharma/ssl/ssl_cert.pem

# Python Logging
PYTHON_LOG_LEVEL=INFO
